[project]
name = "natansh_pattern"
version = "1.0.0"
authors = [
  { name="Natansh Arora", email="nataansharora@gmail.com" },
]
description = "This is a pattern printing program"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"